<a href="https://colab.research.google.com/github/Kjgwo/BigData/blob/main/BigData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.DataFrame (np.random.randn(10,10))

In [ ]:
df

,0,1,2,3,4,5,6,7,8,9
0,0.059182,0.199286,-0.548130,-0.802932,0.386323,0.303541,-0.024574,0.002594,0.075207,0.056878
1,-1.604334,0.452251,0.828336,1.018850,1.437039,-0.749541,1.904365,-0.029457,-0.859590,0.405089
2,1.675380,-0.067605,-0.315588,-0.366115,0.064816,0.575471,-0.773281,-0.234311,0.552829,0.088669
3,-0.035264,-1.122739,0.836490,0.614428,-0.073913,-1.572240,0.260922,-0.416686,-0.583330,0.991950
4,1.465314,0.665136,0.547408,0.116452,1.075915,0.498122,0.891715,-0.947771,-1.682706,-0.685402
5,2.354860,-1.001342,1.185007,-0.547970,0.049482,0.275824,1.746646,-1.855056,-0.477579,-0.083446
6,0.055937,1.454071,-0.000002,-1.352644,-0.455153,-1.359082,-1.408618,-1.153054,0.190997,0.375351
7,1.084660,-1.775356,-0.859789,1.463080,0.662275,-0.389082,0.648902,1.728805,0.507045,0.980535
8,1.125260,1.525030,-1.653032,-1.172619,0.953190,1.647650,0.243761,0.853906,0.338956,-1.935501
9,0.342980,-2.656369,-0.777035,-2.696930,-0.988777,-1.070887,-0.218275,-0.565403,0.067311,-0.164946

In [ ]:
index = pd.date_range("2000-01-01", periods = 10, freq="D")

In [ ]:
index

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df = pd.DataFrame(
    np.random.randn(10 ,3), index, columns=['A', 'B', 'C']
)

In [ ]:
df

                   A         B         C
2000-01-01  1.847839  2.506904  0.992916
2000-01-02 -0.683199 -0.761413 -2.806104
2000-01-03 -0.715076 -0.388588 -1.705331
2000-01-04  0.027784 -1.168388  0.426898
2000-01-05  0.502160  1.215829 -1.186572
2000-01-06 -0.129063  0.417382  0.858603
2000-01-07 -0.824836  0.633247  0.078821
2000-01-08  0.710420  0.105414 -0.693788
2000-01-09  0.130515 -1.478276  0.339169
2000-01-10  1.009723  0.838832  1.326425

In [ ]:
df = pd.DataFrame(
    {"A": [1.0, np.nan, 3.0, 5.0, np.nan],
     "B": [np.nan, 2.0, 3.0, np.nan, 6.0]
     }
)

In [ ]:
df

     A    B
0  1.0  NaN
1  NaN  2.0
2  3.0  3.0
3  5.0  NaN
4  NaN  6.0

In [ ]:
df2 = pd.DataFrame(
    [[5.0, 2.0, 5.0, np.nan, 3.0, 7.0],
     [np.nan, np.nan, 3.0, 4.0, 6.0, 8.0]], columns = ["A", "B", "C", "D", "E","F"], 
     index = ["a", "b"]
)

In [ ]:
df

     A    B
0  1.0  NaN
1  NaN  2.0
2  3.0  3.0
3  5.0  NaN
4  NaN  6.0

In [ ]:
df2 = pd.DataFrame(
    [[1.0, np.nan], [np.nan, 2.0], [3.0, 3.0], [5.0, np.nan], [np.nan, 6.0]], 
    columns=["A", "B"]
)

In [ ]:
df2

     A    B
0  1.0  NaN
1  NaN  2.0
2  3.0  3.0
3  5.0  NaN
4  NaN  6.0

In [ ]:
df1 = pd.DataFrame(
    {
    "one": pd.Series(np.random.randn(3), index=["a", "b", "c"]),
    "two": pd.Series(np.random.randn(4), index=["a", "b", "c", "d"]),
    "three": pd.Series(np.random.randn(3), index=["b", "c", "d"])
    }
)

In [ ]:
df1

        one       two     three
a -1.056658 -1.952769       NaN
b  0.049184  0.264170  0.410132
c -0.524593  2.539905 -0.502027
d       NaN  0.384092 -0.243401

In [ ]:
df = pd.DataFrame(
    np.random.randn(10, 4),
    index=pd.date_range("2000-01-01", periods=10, freq='Y'),
    columns = ['A', 'B', 'C', 'D']
)

In [ ]:
df['A']

2000-12-31   -1.767574
2001-12-31    0.149442
2002-12-31    1.711048
2003-12-31   -0.746948
2004-12-31    1.627104
2005-12-31   -0.464705
2006-12-31    0.840937
2007-12-31    0.123600
2008-12-31    0.178435
2009-12-31   -0.726776
Freq: A-DEC, Name: A, dtype: float64

In [ ]:
df[['A', 'C']]

                   A         C
2000-12-31 -1.767574  1.666444
2001-12-31  0.149442 -0.898402
2002-12-31  1.711048 -1.194956
2003-12-31 -0.746948  0.953411
2004-12-31  1.627104  0.092878
2005-12-31 -0.464705 -0.450748
2006-12-31  0.840937  1.925754
2007-12-31  0.123600  0.147777
2008-12-31  0.178435 -1.965560
2009-12-31 -0.726776 -1.390101

In [ ]:
df.loc[:,'A']

2000-12-31   -1.767574
2001-12-31    0.149442
2002-12-31    1.711048
2003-12-31   -0.746948
2004-12-31    1.627104
2005-12-31   -0.464705
2006-12-31    0.840937
2007-12-31    0.123600
2008-12-31    0.178435
2009-12-31   -0.726776
Freq: A-DEC, Name: A, dtype: float64

In [ ]:
df.loc[:,['A', 'C']]

                   A         C
2000-12-31 -1.767574  1.666444
2001-12-31  0.149442 -0.898402
2002-12-31  1.711048 -1.194956
2003-12-31 -0.746948  0.953411
2004-12-31  1.627104  0.092878
2005-12-31 -0.464705 -0.450748
2006-12-31  0.840937  1.925754
2007-12-31  0.123600  0.147777
2008-12-31  0.178435 -1.965560
2009-12-31 -0.726776 -1.390101

In [ ]:
df.iloc[:,0]

2000-12-31   -1.767574
2001-12-31    0.149442
2002-12-31    1.711048
2003-12-31   -0.746948
2004-12-31    1.627104
2005-12-31   -0.464705
2006-12-31    0.840937
2007-12-31    0.123600
2008-12-31    0.178435
2009-12-31   -0.726776
Freq: A-DEC, Name: A, dtype: float64

In [ ]:
df.iloc[:,0:2]

                   A         B
2000-12-31 -1.767574 -0.787134
2001-12-31  0.149442 -1.384715
2002-12-31  1.711048 -0.792299
2003-12-31 -0.746948 -1.394673
2004-12-31  1.627104  1.148524
2005-12-31 -0.464705 -1.869952
2006-12-31  0.840937  1.851526
2007-12-31  0.123600 -0.101074
2008-12-31  0.178435 -0.844355
2009-12-31 -0.726776  0.212433

In [ ]:
df.iloc[:,0:3:2]

                   A         C
2000-12-31 -1.767574  1.666444
2001-12-31  0.149442 -0.898402
2002-12-31  1.711048 -1.194956
2003-12-31 -0.746948  0.953411
2004-12-31  1.627104  0.092878
2005-12-31 -0.464705 -0.450748
2006-12-31  0.840937  1.925754
2007-12-31  0.123600  0.147777
2008-12-31  0.178435 -1.965560
2009-12-31 -0.726776 -1.390101

In [ ]:
df.iloc[0:3:2]

                   A         B         C         D
2000-12-31 -1.767574 -0.787134  1.666444 -0.898711
2002-12-31  1.711048 -0.792299 -1.194956 -0.018847

In [ ]:
df.iloc[3:0:-1]

                   A         B         C         D
2003-12-31 -0.746948 -1.394673  0.953411 -0.244897
2002-12-31  1.711048 -0.792299 -1.194956 -0.018847
2001-12-31  0.149442 -1.384715 -0.898402  1.965291

In [ ]:
df.iloc[0]

A   -1.767574
B   -0.787134
C    1.666444
D   -0.898711
Name: 2000-12-31 00:00:00, dtype: float64

In [ ]:
df.iloc[0:2]

                   A         B         C         D
2000-12-31 -1.767574 -0.787134  1.666444 -0.898711
2001-12-31  0.149442 -1.384715 -0.898402  1.965291

In [ ]:
df.loc["2001-01-01" : "2002-01-01" , "A" : "C"]

                   A         B         C
2001-12-31  0.149442 -1.384715 -0.898402

In [ ]:
df.iloc[2:4, 1:3]

                   B         C
2002-12-31 -0.792299 -1.194956
2003-12-31 -1.394673  0.953411

In [ ]:
df.loc[lambda df: df['A'] > 0, :]

                   A         B         C         D
2001-12-31  0.149442 -1.384715 -0.898402  1.965291
2002-12-31  1.711048 -0.792299 -1.194956 -0.018847
2004-12-31  1.627104  1.148524  0.092878  3.591838
2006-12-31  0.840937  1.851526  1.925754 -0.839740
2007-12-31  0.123600 -0.101074  0.147777  0.176882
2008-12-31  0.178435 -0.844355 -1.965560  1.480750

In [ ]:
df[(df['A'] > 0) & (df['C'] > 0)]

TypeError: ignored

In [ ]:
df.sample()

                 A         B         C         D
2007-12-31  0.1236 -0.101074  0.147777  0.176882

In [ ]:
df.sample (axis=1)

                   B
2000-12-31 -0.787134
2001-12-31 -1.384715
2002-12-31 -0.792299
2003-12-31 -1.394673
2004-12-31  1.148524
2005-12-31 -1.869952
2006-12-31  1.851526
2007-12-31 -0.101074
2008-12-31 -0.844355
2009-12-31  0.212433

In [ ]:
df.sample (axis = 0)

                   A         B        C        D
2008-12-31  0.178435 -0.844355 -1.96556  1.48075

In [ ]:
date = pd.date_range('2000-01-01', periods = 10, freq='Y')

In [ ]:
df = pd.DataFrame(
    {
    "A": pd.Series(np.random.randint(0, 10, size = 10), index=date),
    "B": pd.Series(np.random.randint(0, 10, size = 10), index=date),
    "C": pd.Series(np.random.randint(0, 10, size = 10), index=date),
    "D": pd.Series(np.random.randint(0, 10, size = 10), index=date)
    }
)

In [ ]:
df

            A  B  C  D
2000-12-31  7  2  6  8
2001-12-31  4  1  7  9
2002-12-31  0  0  4  3
2003-12-31  0  8  6  3
2004-12-31  8  3  2  9
2005-12-31  3  0  4  6
2006-12-31  8  1  4  8
2007-12-31  8  8  4  1
2008-12-31  6  2  8  4
2009-12-31  4  5  4  4

In [ ]:
df["A"].isin([9])

2000-12-31    False
2001-12-31    False
2002-12-31    False
2003-12-31    False
2004-12-31    False
2005-12-31    False
2006-12-31    False
2007-12-31    False
2008-12-31    False
2009-12-31    False
Freq: A-DEC, Name: A, dtype: bool

In [ ]:
df[df["A"].isin([9])]

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [ ]:
(df["A"].isin([9])) | (df["B"].isin([5]))

2000-12-31    False
2001-12-31    False
2002-12-31    False
2003-12-31    False
2004-12-31    False
2005-12-31    False
2006-12-31    False
2007-12-31    False
2008-12-31    False
2009-12-31     True
Freq: A-DEC, dtype: bool

In [ ]:
date = pd.date_range('2000-01-01' , periods = 5, freq='Y')
df = pd.DataFrame(
    {
    "A": pd.Series(np.random.randint(0, 10, size = 5), index=date),
    "B": pd.Series(np.random.randint(0, 10, size = 5), index=date),
    "C": pd.Series(np.random.randint(0, 10, size = 5), index=date),
    "D": pd.Series(np.random.randint(0, 10, size = 5), index=date)
    }
)

In [ ]:
df

            A  B  C  D
2000-12-31  7  0  4  5
2001-12-31  0  6  2  3
2002-12-31  0  5  6  6
2003-12-31  6  5  1  4
2004-12-31  2  3  4  6

In [ ]:
df["E"] = pd.Series(np.random.randint(0, 10, size = 5), index = date)

In [ ]:
df

            A  B  C  D  E
2000-12-31  7  0  4  5  9
2001-12-31  0  6  2  3  8
2002-12-31  0  5  6  6  8
2003-12-31  6  5  1  4  5
2004-12-31  2  3  4  6  7

In [ ]:
df.loc['2005-12-31', :] = [0,0,0,0,0]

In [ ]:
df

              A    B    C    D    E
2000-12-31  7.0  0.0  4.0  5.0  9.0
2001-12-31  0.0  6.0  2.0  3.0  8.0
2002-12-31  0.0  5.0  6.0  6.0  8.0
2003-12-31  6.0  5.0  1.0  4.0  5.0
2004-12-31  2.0  3.0  4.0  6.0  7.0
2005-12-31  0.0  0.0  0.0  0.0  0.0

In [ ]:
df - pd.DataFrame(
    np.random.randn(10, 4),
    index = pd.date_range("2000-01-01", periods = 10, freq = 'Y'),
    columns = ['A', 'B', 'C', 'D']
)

                   A         B         C         D   E
2000-12-31  6.196519 -1.321172  4.342625  5.425334 NaN
2001-12-31  2.600796  6.914789  3.278049  4.075870 NaN
2002-12-31  0.442301  6.048597  6.448789  6.618272 NaN
2003-12-31  5.343858  3.200530  0.036646  4.595231 NaN
2004-12-31  1.671874  3.043331  3.314885  6.058063 NaN
2005-12-31  0.618598  0.258370  0.177908 -1.463562 NaN
2006-12-31       NaN       NaN       NaN       NaN NaN
2007-12-31       NaN       NaN       NaN       NaN NaN
2008-12-31       NaN       NaN       NaN       NaN NaN
2009-12-31       NaN       NaN       NaN       NaN NaN

In [ ]:
df.insert(1, 'AA', pd.Series(np.random.randn(10), index = pd.date_range("2000-01-01", periods=10, freq = 'Y'),
))

In [ ]:
df

              A        AA    B    C    D    E
2000-12-31  7.0  1.217602  0.0  4.0  5.0  9.0
2001-12-31  0.0  0.140470  6.0  2.0  3.0  8.0
2002-12-31  0.0 -0.166016  5.0  6.0  6.0  8.0
2003-12-31  6.0 -0.493391  5.0  1.0  4.0  5.0
2004-12-31  2.0 -1.069372  3.0  4.0  6.0  7.0
2005-12-31  0.0  0.344588  0.0  0.0  0.0  0.0

In [ ]:
df.drop('AA', axis = 1)

              A    B    C    D    E
2000-12-31  7.0  0.0  4.0  5.0  9.0
2001-12-31  0.0  6.0  2.0  3.0  8.0
2002-12-31  0.0  5.0  6.0  6.0  8.0
2003-12-31  6.0  5.0  1.0  4.0  5.0
2004-12-31  2.0  3.0  4.0  6.0  7.0
2005-12-31  0.0  0.0  0.0  0.0  0.0

In [ ]:
df

              A        AA    B    C    D    E
2000-12-31  7.0  1.217602  0.0  4.0  5.0  9.0
2001-12-31  0.0  0.140470  6.0  2.0  3.0  8.0
2002-12-31  0.0 -0.166016  5.0  6.0  6.0  8.0
2003-12-31  6.0 -0.493391  5.0  1.0  4.0  5.0
2004-12-31  2.0 -1.069372  3.0  4.0  6.0  7.0
2005-12-31  0.0  0.344588  0.0  0.0  0.0  0.0

In [ ]:
date = pd.date_range("2000-01-01", periods = 6, freq = 'Y')

In [ ]:
df = pd.DataFrame(
    {
    "A": pd.Series(np.random.randint(0, 10, size = 6), index=date),
    "B": pd.Series(np.random.randint(0, 10, size = 6), index=date),
    "C": pd.Series(np.random.randint(0, 10, size = 6), index=date),
    "D": pd.Series(np.random.randint(0, 10, size = 6), index=date),
    "E": pd.Series(np.random.randint(0, 10, size = 6), index=date)
    }
)

In [ ]:
df

            A  B  C  D  E
2000-12-31  1  0  7  8  9
2001-12-31  1  5  6  2  0
2002-12-31  0  7  8  7  9
2003-12-31  8  7  1  7  1
2004-12-31  8  0  8  7  3
2005-12-31  8  8  5  5  4

In [ ]:
df['A'] = [1,1,1,1,1,1]

In [ ]:
df

            A  B  C  D  E
2000-12-31  1  0  7  8  9
2001-12-31  1  5  6  2  0
2002-12-31  1  7  8  7  9
2003-12-31  1  7  1  7  1
2004-12-31  1  0  8  7  3
2005-12-31  1  8  5  5  4

In [ ]:
df.iloc[:,4] = [4,4,4,4,4,4]

In [ ]:
df

            A  B  C  D  E
2000-12-31  1  0  7  8  4
2001-12-31  1  5  6  2  4
2002-12-31  1  7  8  7  4
2003-12-31  1  7  1  7  4
2004-12-31  1  0  8  7  4
2005-12-31  1  8  5  5  4

In [ ]:
df.loc['2000-12-31',:] = [2,2,2,2,2]

In [ ]:
df

            A  B  C  D  E
2000-12-31  2  2  2  2  2
2001-12-31  1  5  6  2  4
2002-12-31  1  7  8  7  4
2003-12-31  1  7  1  7  4
2004-12-31  1  0  8  7  4
2005-12-31  1  8  5  5  4

In [ ]:
df.iloc[1:3, 1:3] = [100, 100], [100, 100]

In [ ]:
df

            A    B    C  D  E
2000-12-31  2    2    2  2  2
2001-12-31  1  100  100  2  4
2002-12-31  1  100  100  7  4
2003-12-31  1    7    1  7  4
2004-12-31  1    0    8  7  4
2005-12-31  1    8    5  5  4

In [ ]:
df.iat[1,1] == 1000

False

In [ ]:
df

            A    B    C  D  E
2000-12-31  2    2    2  2  2
2001-12-31  1  100  100  2  4
2002-12-31  1  100  100  7  4
2003-12-31  1    7    1  7  4
2004-12-31  1    0    8  7  4
2005-12-31  1    8    5  5  4

In [ ]:
df.iat[1,1] =1000

In [ ]:
df

            A     B    C  D  E
2000-12-31  2     2    2  2  2
2001-12-31  1  1000  100  2  4
2002-12-31  1   100  100  7  4
2003-12-31  1     7    1  7  4
2004-12-31  1     0    8  7  4
2005-12-31  1     8    5  5  4

In [ ]:
df.at['2000-12-31' , 'A'] = 10000

In [ ]:
df

                A     B    C  D  E
2000-12-31  10000     2    2  2  2
2001-12-31      1  1000  100  2  4
2002-12-31      1   100  100  7  4
2003-12-31      1     7    1  7  4
2004-12-31      1     0    8  7  4
2005-12-31      1     8    5  5  4

In [ ]:
date = pd.date_range('2000-01-01', periods = 5, freq = 'Y')
df = pd.DataFrame(
    {
     "A": pd.Series(np.random.randint(0, 10, size = 5), index = date),
     "B": pd.Series(np.random.randint(0, 10, size = 5), index = date),
     "C": pd.Series(np.random.randint(0, 10, size = 5), index = date),
     "D": pd.Series(np.random.randint(0, 10, size = 5), index = date)
    }
)

In [ ]:
df.drop('2000-12-31', axis = 0)

            A  B  C  D
2001-12-31  6  2  4  4
2002-12-31  3  2  7  0
2003-12-31  2  4  6  5
2004-12-31  7  3  4  3

In [ ]:
df

            A  B  C  D
2000-12-31  4  2  2  7
2001-12-31  6  2  4  4
2002-12-31  3  2  7  0
2003-12-31  2  4  6  5
2004-12-31  7  3  4  3

In [ ]:
df.drop('2000-12-31')

            A  B  C  D
2001-12-31  6  2  4  4
2002-12-31  3  2  7  0
2003-12-31  2  4  6  5
2004-12-31  7  3  4  3

In [ ]:
df.drop('A', axis=1)

            B  C  D
2000-12-31  2  2  7
2001-12-31  2  4  4
2002-12-31  2  7  0
2003-12-31  4  6  5
2004-12-31  3  4  3

In [ ]:
df.drop(['A', 'C'], axis = 1)

            B  D
2000-12-31  2  7
2001-12-31  2  4
2002-12-31  2  0
2003-12-31  4  5
2004-12-31  3  3

In [ ]:
df = pd.DataFrame(
    {
    "A": pd.Series(np.random.randint(0, 10, size=5), index = ['a', 'b,', 'c', 'd', 'e']),
    "B": pd.Series(np.random.randint(0, 10, size=4), index = ['b,', 'c', 'd', 'e']),
    "C": pd.Series(np.random.randint(0, 10, size=3), index = ['a', 'b,', 'c'])
     
    }
)

In [ ]:
df

    A    B    C
a   4  NaN  6.0
b,  0  1.0  6.0
c   7  4.0  1.0
d   4  8.0  NaN
e   6  0.0  NaN

In [ ]:
df.dropna()

    A    B    C
b,  0  1.0  6.0
c   7  4.0  1.0

In [ ]:
df.dropna(axis=1)

    A
a   4
b,  0
c   7
d   4
e   6

In [ ]:
df.fillna(10)

    A     B     C
a   4  10.0   6.0
b,  0   1.0   6.0
c   7   4.0   1.0
d   4   8.0  10.0
e   6   0.0  10.0

In [ ]:
def func (x):
    if (x > 10):
        return 'A'
    else:
        return 'B'

In [ ]:
df1 = df.replace(np.nan, 20)

In [ ]:
df1

    A     B     C
a   4  20.0   6.0
b,  0   1.0   6.0
c   7   4.0   1.0
d   4   8.0  20.0
e   6   0.0  20.0

In [ ]:
df1['B'].apply(func)

a     A
b,    B
c     B
d     B
e     B
Name: B, dtype: object

In [ ]:
df1.iloc[0].apply(func)

A    B
B    A
C    B
Name: a, dtype: object

In [ ]:
date = pd.date_range('2000-01-01', periods=10, freq='Y')
df = pd.DataFrame(
    {
     "A": pd.Series(np.random.randint(0, 10, size = 10), index=date),
     "B": pd.Series(np.random.randint(0, 10, size = 10), index=date),
     "C": pd.Series(np.random.randint(0, 10, size = 10), index=date),
     "D": pd.Series(np.random.randint(0, 10, size = 10), index=date)
    }
)

In [ ]:
df.idxmin(0)

A   2006-12-31
B   2009-12-31
C   2000-12-31
D   2009-12-31
dtype: datetime64[ns]

In [ ]:
df.idxmax(0)

A   2007-12-31
B   2007-12-31
C   2001-12-31
D   2001-12-31
dtype: datetime64[ns]

In [ ]:
df.idxmin(1)

2000-12-31    C
2001-12-31    A
2002-12-31    C
2003-12-31    C
2004-12-31    B
2005-12-31    B
2006-12-31    A
2007-12-31    D
2008-12-31    A
2009-12-31    B
Freq: A-DEC, dtype: object

In [ ]:
df.idxmax(1)

2000-12-31    D
2001-12-31    C
2002-12-31    D
2003-12-31    D
2004-12-31    A
2005-12-31    D
2006-12-31    D
2007-12-31    A
2008-12-31    B
2009-12-31    A
Freq: A-DEC, dtype: object

In [ ]:
date=pd.date_range('2001', periods = 10, freq='Y')
df = pd.DataFrame(
    {
     "A": pd.Series(np.random.randint(0, 10, size = 10), index = date),
     "B": pd.Series(np.random.randint(0, 10, size = 10), index = date),
     "C": pd.Series(np.random.randint(0, 10, size = 10), index = date),
     "D": pd.Series(np.random.randint(0, 10, size = 10), index = date)
    }
)

In [ ]:
df

            A  B  C  D
2001-12-31  1  1  1  2
2002-12-31  9  2  4  1
2003-12-31  4  3  5  3
2004-12-31  7  6  4  6
2005-12-31  4  9  0  4
2006-12-31  4  4  3  1
2007-12-31  6  0  6  1
2008-12-31  5  6  1  1
2009-12-31  9  4  6  7
2010-12-31  5  0  7  8

In [ ]:
df.value_counts()

A  B  C  D
1  1  1  2    1
4  3  5  3    1
   4  3  1    1
   9  0  4    1
5  0  7  8    1
   6  1  1    1
6  0  6  1    1
7  6  4  6    1
9  2  4  1    1
   4  6  7    1
dtype: int64

In [ ]:
df['A'].value_counts()

4    3
9    2
5    2
1    1
7    1
6    1
Name: A, dtype: int64

In [ ]:
df.iloc[0].value_counts()

1    3
2    1
Name: 2001-12-31 00:00:00, dtype: int64

In [ ]:
pd.cut(df['A'], 4)

2001-12-31    (0.992, 3.0]
2002-12-31      (7.0, 9.0]
2003-12-31      (3.0, 5.0]
2004-12-31      (5.0, 7.0]
2005-12-31      (3.0, 5.0]
2006-12-31      (3.0, 5.0]
2007-12-31      (5.0, 7.0]
2008-12-31      (3.0, 5.0]
2009-12-31      (7.0, 9.0]
2010-12-31      (3.0, 5.0]
Freq: A-DEC, Name: A, dtype: category
Categories (4, interval[float64, right]): [(0.992, 3.0] < (3.0, 5.0] < (5.0, 7.0] < (7.0, 9.0]]

In [ ]:
cut1 = pd.cut(df['A'], 4)

In [ ]:
pd.value_counts(cut1)

(3.0, 5.0]      5
(5.0, 7.0]      2
(7.0, 9.0]      2
(0.992, 3.0]    1
Name: A, dtype: int64

In [ ]:
df.mean(0)

A    5.4
B    3.5
C    3.7
D    3.4
dtype: float64

In [ ]:
df.mean(1)

2001-12-31    1.25
2002-12-31    4.00
2003-12-31    3.75
2004-12-31    5.75
2005-12-31    4.25
2006-12-31    3.00
2007-12-31    3.25
2008-12-31    3.25
2009-12-31    6.50
2010-12-31    5.00
Freq: A-DEC, dtype: float64

In [ ]:
df1 = pd.DataFrame(
    {
        "A": ['a00', 'a01', 'a02'],
     "B": ['b00', 'b01', 'b02'],
     "C": ['c00', 'c01', 'c02'],
    },
    index = ['a', 'b', 'c']
)

In [ ]:
df2 = pd.DataFrame(
    {
        "B": ['b00', 'b01', 'b02'],
     "C": ['c00', 'c01', 'c02'],
     "D": ['d00', 'd01', 'd02']
    },
    index = ['b', 'c', 'd']
)

In [ ]:
pd.concat([df1, df2])

     A    B    C    D
0  a00  b00  c00  NaN
1  a01  b01  c01  NaN
2  a02  b02  c02  NaN
0  NaN  b00  c00  d00
1  NaN  b01  c01  d01
2  NaN  b02  c02  d02

In [ ]:
pd.concat([df1, df2])

     A    B    C    D
a  a00  b00  c00  NaN
b  a01  b01  c01  NaN
c  a02  b02  c02  NaN
b  NaN  b00  c00  d00
c  NaN  b01  c01  d01
d  NaN  b02  c02  d02

In [ ]:
pd.concat([df2, df1])

     B    C    D    A
b  b00  c00  d00  NaN
c  b01  c01  d01  NaN
d  b02  c02  d02  NaN
a  b00  c00  NaN  a00
b  b01  c01  NaN  a01
c  b02  c02  NaN  a02

In [ ]:
pd.concat([df1, df2], axis = 1)

     A    B    C    B    C    D
a  a00  b00  c00  NaN  NaN  NaN
b  a01  b01  c01  b00  c00  d00
c  a02  b02  c02  b01  c01  d01
d  NaN  NaN  NaN  b02  c02  d02

In [ ]:
pd.concat([df1, df2], axis = 1, join = "inner")

     A    B    C    B    C    D
b  a01  b01  c01  b00  c00  d00
c  a02  b02  c02  b01  c01  d01

In [ ]:
pd.concat([df1, df2], axis = 1, join = "outer")

     A    B    C    B    C    D
a  a00  b00  c00  NaN  NaN  NaN
b  a01  b01  c01  b00  c00  d00
c  a02  b02  c02  b01  c01  d01
d  NaN  NaN  NaN  b02  c02  d02

In [ ]:
df1 = pd.DataFrame(
    {
        "key": ['k0', 'k1', 'k2', 'k3'],
     "A": ['a00', 'a01', 'a02', 'a03'],
     "B": ['a10', 'a11', 'a12', 'a13'],
    }
)

In [ ]:
df2 = pd.DataFrame(
    {
        "key": ['k1', 'k2', 'k3', 'k4'],
     "C": ['b00', 'b01', 'b02', 'b03'],
     "D": ['b10', 'b11', 'b12', 'b13'],
    }
)

In [ ]:
pd.merge(df1, df2, on = "key")

  key    A    B    C    D
0  k1  a01  a11  b00  b10
1  k2  a02  a12  b01  b11
2  k3  a03  a13  b02  b12

In [ ]:
df1

  key    A    B
0  k0  a00  a10
1  k1  a01  a11
2  k2  a02  a12
3  k3  a03  a13

In [ ]:
df2

  key    C    D
0  k0  b00  b10
1  k1  b01  b11
2  k2  b02  b12
3  k3  b03  b13

In [ ]:
pd.marge(df1, df2, on = "key")

AttributeError: ignored